/app/config/parameters.yml
/build/
/node_modules/
/phpunit.xml
/.php_cs
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/data
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public/bundles/
/public/build/fonts/glyphicons-*
/public/build/images/glyphicons-*
/public/uploads/ckfinder/
/public/media/
/public/build/
/public/uploads/
/public/BingSiteAuth.xml
/public/google33e2b6000dc649d2.html
/public/list-non-index.txt
/public/ads.txt
/public/freessl/
/scratch/
*.sql
*.webp
*.md
/public/d5f13f8cd9874038a98b04fc59fd3b9e.txt

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/dotenv ###
.env.local
.env.*.local
###< symfony/dotenv ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
