$white: #ffffff;
$gray94: #F9F9F9;
$black: #000000;
$mercury: #e2e2e2;
$red: #FF0000;
$chambray: #3C5A98;
$mineShaft: #222222;
$gallery: #ededed;
$geyser: #DBE0E8;
$primaryColor: #223455;
$killarney: #356649;
$fadedJade: #3C746B;
$rajah: #F5C168;
$selectiveYellow: #FFB600;
$supernova: #FDC502;

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("fonts/RobotoCondensed-Regular.ttf");
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*,
:after,
:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    padding: 0;
    margin: 0;
    line-height: 1.7;
}

.wrapper-container {
    max-width: 620px;
    margin: 0 auto;

    @media only screen and (min-width: 768px) {
        margin: initial;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    padding-left: 15px;
    padding-right: 15px;
}

p {
    margin: 0 0 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

blockquote {
    line-height: 1.6;
    margin: 1.5em
}

q:after,
q:before {
    content: ""
}

article[role=article] {
    max-width: 620px;
    margin: 0 auto;
    padding: 0 15px
}

body a,
body a:link,
body a:visited {
    color: #0053a5;
}

body blockquote {
    padding: 10.5px 21px;
    border-left: 5px solid #ecf0f1
}

body q {
    font-style: italic;
    display: block;
    font-size: 1.4em;
    line-height: 1.25;
    text-transform: uppercase;
    color: #6f96a8;
    border-top: 5px solid #e0dedf;
    border-bottom: 5px solid #e0dedf;
    padding: .8em 0 .5em;
    margin: 0 0 14px;
}

/*
-----------------------------------
    Header
-----------------------------------
*/
header {
    background: #fff;
    padding: 15px 0;

    a {
        color: #ffb600;
        text-transform: uppercase;
        font-size: 20px;

        &:visited {
            color: #ffb600;
        }

        amp-img {
            width: 60%;
            margin: 0 auto;
        }
    }
}

/*
-----------------------------------
    Menu
-----------------------------------
*/
nav {
    background-color: #0053a5;
    height: 65px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    /*left: 25px;*/
	padding-left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

    input {
        display: flex;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    span {
        display: flex;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #ffffff;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #ffffff;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

ul.navbar-nav {
    position: absolute;
    width: 80%;
    height: auto;
    box-shadow: 0 0 10px #85888C;
    margin: -25px 0 0 -25px;
    padding: 25px;
    padding-top: 65px;
    background-color: #0053a5;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
        padding: 7px 0;
        transition-delay: 2s;
        list-style: none;

        &.dropdown {
            padding-bottom: 0;
        }

        a {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            color: #ffffff;
        }

        ul li {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }
}

#menuToggle input:checked~ul {
    transform: none;
}

article {
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin: 0 0 15px 0;
    }

    .article-content {
        h2 {
            font-size: 28px;
            margin-bottom: 18px;
        }

        h3 {
            font-size: 24px;
            margin-bottom: 18px;
        }

        ol,
        ul {
            padding-left: 5px;
            margin-bottom: 15px;
            margin-left: 10px;
        }

        ol li,
        ul li {
            margin-bottom: .5em;
            line-height: 24px;
            margin-left: 10px;
        }

        hr {
            border-top: 1px solid #ccc;
        }

        table {
            width: 100%;
            margin-bottom: 14px;
            border-spacing: 0;
            border-collapse: collapse;

            th, td {
                padding: 10px;
            }
        }

        table, th, td {
            border: 1px solid #ccc;
        }

        blockquote {
            padding: 10.5px 21px;
            margin: 0 0 21px;
            border-left: 5px solid #223455;
        }

        div[name="tableOfContents"] {
            margin-bottom: 6px;
        }

        div[style="margin-left:30px"], div[style="margin-left:60px"] {
            display: list-item;
            list-style-type: disc;
        }

        hr {
            margin-top: 18px;
            margin-bottom: 18px;
        }
    }

    .related-news {
        h3 {
            position: relative;
            border-bottom: 3px solid #223455;
            margin: 0 0 15px;
            font-size: 30px;
    
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 150px;
                height: 3px;
                background: #fdc502;
            }
        }
    
        .related-wrapper {
            margin-bottom: 10px;
            
            &.video-related {
                margin-bottom: 10px;
            }
    
            .related-title {
                font-family: 'Roboto Condensed Bold', sans-serif;
                text-align: center;
                display: block;
                padding: 15px 0;
                font-size: 22px;
                line-height: 28px;
            }
        }
    }
    
    #list-comments {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow: hidden;
    
        &>h4 {
            font-size: 26px;
            position: relative;
            border-bottom: 3px solid #223455;
    
            &:before {
                content: "";
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 150px;
                height: 3px;
                background: #fdc502;
            }
        }
    
        .media-list {
            padding-left: 0;
            margin-left: 0;
            list-style: none;
    
            .media {
                border-top: 1px dotted #ededed;
                margin-top: 10px;
                padding-top: 10px;
    
                &.first {
                    border-top: none;
                }
    
                .media-body,
                .media-left,
                .media-right {
                    display: table-cell;
                    vertical-align: top;
                }
    
                .media-left {
                    padding-right: 10px;
    
                    amp-img {
                        width: 50px;
                    }
                }
    
                .media-body {
                    h5 {
                        font-weight: 700;
                        font-size: 16px;
                        margin-bottom: 2px;
                    }
    
                    .comment-container {
                        font-size: 15px;
                    }
    
                    a.comment-reply-link {
                        font-size: 14px;
                        color: #222;
                        text-decoration: underline;
                    }
                } 
            }
        }
    }

    .ads {
        text-align: center;
    }
}

footer {
    position: relative;
    border-top: 3px solid #fdc502;
    background-color: #fff;

    .footer-top {
        h3.text-uppercase {
            text-transform: uppercase;
            font-size: 24px;
            margin: 20px 0 5px;
        }

        ul.footer-company,
        ul.about-us {
            padding: 0 20px;
            margin: 16px 0;
        }

        ul li {
            line-height: 22px;
            margin-bottom: 10px;
        }

        ul.footer-company {
            padding: 0;

            li {
                list-style: none;
            }
        }

        .event-footer {
            margin: 40px 0;

            h6 {
                font-size: 15px;
                font-style: italic;
                padding: 0;
                margin: 5px 0;
                font-weight: 500;
                padding-left: 0;
            }
        }
    }

    .keyword {
        padding-left: 0;
        
        li {
            list-style-type: none;
            display: inline-block;
            border: 1px solid #fdc502;
            margin: 0 0 8px 0;
            padding: 0 8px;
    
            a {
                color: #000;
                font-size: 15px;
            }
        }
    }
    
    .footer-middle {
        margin-top: 30px;
        text-align: center;
    
        amp-img {
            max-width: 80%;
            margin: 15px auto;
        }
    }
    
    .copyright {
        text-align: center;
    
        a,
        p {
            font-size: 14px;
        }
    }

    .td-scroll-up {
        cursor: pointer;
        position: fixed;
        bottom: 30px;
        right: 25px;
        width: 35px;
        height: 35px;
        background-color: #fdc502;
        z-index: 100;
        border: none;
        padding: 0;
    
        @media only screen and (max-width: 767.98px) {
            bottom: 15px;
            right: 10px;
        }
    
        i {
            position: relative;
            color: #fff;
            font-size: 20px;
            display: block;
            text-align: center;
            width: 35px;
            top: -2px;
        }
    }

    .hotline {
        position: fixed;
        bottom: 80px;
        right: 25px;
        text-align: center;
        background-color: $white;
        color: $white;
        z-index: 100;
        font-family: "Roboto Condensed Bold";
        font-size: 20px;
        text-transform: uppercase;
        padding: 0px;
        font-weight: bold;
        border-radius: 30px;
    
        @media only screen and (max-width: 767.98px) {
            right: 10px;
            bottom: 70px;
        }
    
        .inner > a {
            display: inline-block;
            font-size: 21px;
            font-weight: 700;
            color: $primaryColor;
            background: url(../../../images/icon-phone.png) no-repeat 17px center;
            background-size: 25px;
            position: relative;
            border: 1px solid $supernova;
            border-radius: 40px;
            padding: 6px 19px 6px 58px;
            -webkit-background-clip: text;
            -webkit-animation: color-change 1s infinite;
            -moz-animation: color-change 1s infinite;
            -o-animation: color-change 1s infinite;
            -ms-animation: color-change 1s infinite;
            animation: color-change 1s infinite;
    
            .phonering-alo-ph-img-circle {
                width: 25px;
                height: 25px;
                top: 8px;
                left: 16px;
                position: absolute;
                background: url(../../../images/icon-phone.png) no-repeat 0px center;
                -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
                animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                background-size: 25px;
            }
        }
    }
    
    @-webkit-keyframes phonering-alo-circle-anim {
        0% {
            -webkit-transform:rotate(0) scale(.5) skew(1deg);
            -webkit-opacity:.1
        }
    
        30% {
            -webkit-transform:rotate(0) scale(.7) skew(1deg);
            -webkit-opacity:.5
        }
    
        100% {
            -webkit-transform:rotate(0) scale(1) skew(1deg);
            -webkit-opacity:.1
        }
    }
    
    @-webkit-keyframes phonering-alo-circle-fill-anim {
        0% {
            -webkit-transform:rotate(0) scale(.7) skew(1deg);
            opacity:.2
        }
    
        50% {
            -webkit-transform:rotate(0) scale(1) skew(1deg);
            opacity:.2
        }
    
        100% {
            -webkit-transform:rotate(0) scale(.7) skew(1deg);
            opacity:.2
        }
    }
    
    @-webkit-keyframes phonering-alo-circle-img-anim {
        0% {
            -webkit-transform:rotate(0) scale(1) skew(1deg)
        }
    
        10% {
            -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
        }
    
        20% {
            -webkit-transform:rotate(25deg) scale(1) skew(1deg)
        }
    
        30% {
            -webkit-transform:rotate(-25deg) scale(1) skew(1deg)
        }
    
        40% {
            -webkit-transform:rotate(25deg) scale(1) skew(1deg)
        }
    
        50% {
            -webkit-transform:rotate(0) scale(1) skew(1deg)
        }
    
        100% {
            -webkit-transform:rotate(0) scale(1) skew(1deg)
        }
    }
    
    .giuseart-pc-contact-bar {
        right: 25px;
        bottom: 45%;
        position: fixed;
        z-index: 100;
        margin-bottom: 0;
        padding-left: 0;
    
        @media only screen and (max-width: 767.98px) {
            right: 10px;
        }
    
        li {
            width: 44px;
            height: 46px;
            overflow: hidden;
            margin-bottom: 0;
            list-style: none;
        }
    
        li a {
            display: block;
            width: 44px;
            height: 44px;
        }
    
        li.facebook {
            margin-bottom: 8px;
            background: url(../../../images/fb.png);
            background-repeat: no-repeat;
        }
    
        li.zalo {
            background: url(../../../images/zl.png);
            background-repeat: no-repeat;
        }
    }
}

.breadcrumbs {
    clear: both;
    padding: 0 15px;
    margin: 0 auto;

    #wo-breadcrumbs {
        border-bottom: 1px solid #cccccc;
        padding: 0 0 15px 0;

        li {
            margin-bottom: 0em;
            list-style: none;
            display: inline-block;

            &::before {
                content: "/\A0";
                padding: 0 5px;
                color: #e2e2e2;
            }

            &:first-child {
                &::before {
                    content: none;
                }
            }

            a {
                color: #000;
            }
        }
    }
}

.tags {
    display: flex;
    margin: 20px 0 5px;
    font-size: 12px;

    ul {
        padding: 0;
        margin-left: 0;
        margin-bottom: 10px;

        li {
            margin-bottom: 0px;
            list-style-type: none;
            display: inline-block;
            
            span {
                background-color: $mineShaft;
                padding: 5px 8px;
                color: $white;
                display: block;
                line-height: 16px;
                float: left;
                height: 25px;
            }

            a {
                display: block;
                float: left;
                border: 1px solid $gallery;
                margin-left: 4px;
                line-height: 15px;
                padding: 5px 8px;
                height: 25px;

                &:hover {
                    text-decoration: none;
                    border: 1px solid $primaryColor;
                    background: $primaryColor;
                    color: $white;
                }
            }
        }
    }
}

.rating-share-container {
    border-top: 1px solid $gallery;
    border-bottom: 1px solid $gallery;
    padding: 10px 0 0;
    margin: 10px 0 20px;
}