@import "global/fonts";

@media only screen and (max-width: 767.98px) {
    header {
        a {
            width: 100%;
            text-align: center;
            display: block;
            margin: 8px auto;
        }
    }
}

.header {
    .header-social {
        .header-social-wrapper {
            a {
                display: inline-block;
                width: max-content;
                margin: 0;
            }
        }
    }
}

.banner {
    #logo_top {
        #logo {
            a {
                img {
                    padding: 0;
                }
            }
        }
    }
}

.cat-widget-title {
    display: inline-block;
    margin-bottom: 0;
}

.widget-title {
    font-size: 26px;
    margin-bottom: 15px;
    line-height: 1.4;
}

#nav {
    overflow: hidden;
    
    @media only screen and (min-width: 979.98px) {
        max-height: 47px;
    }
}

#nav .nav-container .navbar .navbar-collapse ul li a {
    font-family: $robotoCondesed;
}

.slogin {
    @media only screen and (min-width: 979.98px) {
        overflow: hidden;
        max-height: 63px;
    }

    .slogin-title {
        .slogin-wrapper {
            @media only screen and (min-width: 979.98px) {
                max-height: 33px;
                margin-bottom: 0;
            }
        }
    }
}

.hotline {
    font-family: $robotoCondesed;

    @media only screen and (min-width: 979.98px) {
        max-height: 50px;
        overflow: hidden;
    }
}

.related-news .row .related-wrapper .related-img {
    position: relative;
}